:root {
    --hot-pink: #F95F68;
    --cute-pink: #F2C4C8;
    --cream: #E9E1DB;
    --beans: #BF6E3F;
    --caramel: #F2A16D;
    --choco: #592C22;

    --bread: #F2B999;
    --latte: #FDE1C8;
    --pink: #F29199;
    --blue: #A3D9CF;
    --text-color: #736555;
}